@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Exo:wght@200;300&family=Fredoka:wght@300;400;500;600;700&display=swap');

.menu {
    width: 300px;
    height: 100vh;
    // background: rgba(206,188,155,1);
    // background: rgb(130, 130, 134);
    // background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
    // background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    // background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    // background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    // background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right: 0;
        background-image: url("../assets/orange_liquid.png");
        background-position: -60px 170px;
        

        


    }

    ul {
        
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 35px;
        font-weight: 300;
        color: rgb(247, 244, 244);
        width: 70%;
        
        text-align: justify;

        li {
            margin-bottom: 40px;

            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            
            

           

            a {
                font-size: inherit;
                font-family: 'Exo', sans-serif;
                color: inherit;
                text-decoration: none;
                text-shadow: 
      -1px -1px 1px #faf9f9, 
      0px 1px 0 #080808, 
      0px 2px 0 #212121, 
      0px 3px 0 #484747, 
      0px 4px 0 #535351, 
      0px 5px 0 #757373, 
      0px 6px 0 #989696,
    //   0px 7px 0 #222, 
    //   0px 8px 0 #FF7700, 
    //   0px 9px 0 #FF7700, 
    //   0px 10px 0 #FF7700, 
    //   0px 11px 0 #FF7700, 
    //   0px 12px 0 #0f0f0f, 
    //   0px 13px 0 #ed341c, 
    //   0px 14px 0 #ed341c, 
    //   0px 15px 0 #ed341c, 
      
      
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}