@import "../../global.scss";

.portfolio{
    background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1{
        font-size: 50px;
        overflow: hidden;

        @include mobile{
            font-size: 30px;
        }
        
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
    }

        
    }

    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 150px;

        @include mobile{
            width: 100%;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
        }


    .item{
        width: 400px;
        height: 300px;
        border-radius: 20px;
        border: 1px solid white;
        margin: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        transition: all .5s ease;
        cursor: pointer;

        @include mobile{
            width: 220px;
            height: 140px;

        }

        h3{
            position: absolute;
            font-size: 20px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        &:hover{
            background-color: rgb(0, 0, 0);
            img{
                opacity: 0.2;
                z-index: 0;
            }
        }
    }

      
}


   
