@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Exo:wght@200;300&family=Fredoka:wght@300;400;500;600;700&display=swap');

.contact {
    background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
        justify-content: center;
    .contact-form{
        display: flex;
        max-height: calc(100vh - 80px);
    }

    .dikeyNav{
        
        width: 120px;
        height: 77%;
        margin-top: 30px !important;
        margin: 20px;
        background-color: black;
        opacity: 0.2;
        border-radius: 10px;
        z-index: 1;
        
        

        p{
            color: antiquewhite;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: xx-large;
            margin-top: 170px;
            font-family: 'Exo', sans-serif;
            
            margin-left: auto;
            margin-right: auto;

        }
        
    }
    



    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        h2{
            font-size: 60px;
            margin-top: 60px;
            font-family: 'Exo', sans-serif;
            color: #E04D01;
        }

        form{
            width: 55%;
            height: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: -40px;

            input{
                width: 450px;
                height: 30px;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 14px;
                border-radius: 10px;
                border: solid 4px black;
            }

            textarea{
                width: 450px;
                height: 250px;
                margin: -100px 20px;
                font-size: 14px;
                border-radius: 10px;
                border: solid 4px black;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: #E04D01;
                border: solid 2px white;
                border-radius: 10px;
                font-weight: 500;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                cursor: pointer;
            }
        }
        

        
        

    }

    .right {


        flex: 1;
        overflow: hidden;
        justify-content: center;
        

        img {
            height: 85%;
            
            
            

        }
    }
}

