@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Exo:wght@200;300&family=Fredoka:wght@300;400;500;600;700&display=swap');

.contact {
    background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
        justify-content: center;

       

        
    .contact-form{
        display: flex;
        max-height: calc(100vh - 80px);
        margin-top: -110px;
        overflow: hidden;

        @include mobile{
            margin-top: -115px;
        }
    }

    .dikeyNav{
        
        width: 120px;
        height: 93%;
        margin-top: 10px !important;
        margin: 20px;
        background-color: black;
        opacity: 0.2;
        border-radius: 10px;
        z-index: 1;
        border: 3px ridge  white;

        @include mobile{
            width: 40px;
            height: 550px;
            margin-top: 0px !important;
        }
         

        p{
            color: antiquewhite;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: xx-large;
            margin-top: 170px;
            font-family: 'Exo', sans-serif;
            
            margin-left: auto;
            margin-right: auto;

            @include mobile{
                font-size: x-large;
            }

        }
        
    }

    .column{
        
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        

        @include mobile{
            flex-direction: column;
        }

        .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        @include mobile{
            height: 95%;
        }
        
        

       
       
        

        h2{
            font-size: 60px;
            margin-top: 60px;
            font-family: 'Exo', sans-serif;
            color: #FF7700;

            @include mobile{
                margin: 0px;
                font-size: 30px;
            }
        }

        form{
            width: 85%;
            height: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: -40px;

            @include mobile{
                width: 100%;
                height: 120%;
                
            }



           
            input{
                width: 450px;
                height: 30px;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 14px;
                border-radius: 10px;
                border: 3px ridge  #FF7700;


                @include mobile{
                    width: 250px;
                    height: 15px;
                    margin-top: 0;
                }
    
            }

            textarea{
                width: 450px;
                height: 250px;
                margin: -100px 20px;
                font-size: 14px;
                border-radius: 10px;
                border: 3px ridge  #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 250px;
                    height: 120px;
                }
                
            }

            button{
                width: 150px;
                height: 30px;
                color: white;
                background-color: black;
                border: 3px ridge  #FF7700;
                border-radius: 10px;
                font-weight: 500;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                cursor: pointer;

                &:hover{
                    font-weight: 600;
                    font-family: 'Exo', sans-serif;
                    opacity: 0.8;
                    width: 200;
                    height: 30px;
                    border: 3px ridge #FF7700 ;
                    text-align: center;
                    border-radius: 10px;
                    color: #FF7700;
                    
                }
            }

            .thnx{
                border: none;
                width: auto;
                opacity: 1;
                color: #4184f0;
                box-shadow: 10px white;
                font-size: larger;
            }
        }
        

        
        

    }

    .right {


        flex: 1;
        overflow: hidden;
        justify-content: center;

        
        

        img {
            width: 100%;
            height: 60%;

            @include mobile{
                width: 250px;
                height: 250px;
                
            }

            

            
            
            

        }

        

        


    }
    }
    



    
}

