@import "../../global.scss";


.works {
    background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1{
        font-size: 50px;
        z-index: 1;
        padding-bottom: 700px;

        @include mobile{
            padding-top: 40px;
            font-size: 30px;
        }
    }

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;
        justify-content: center;
        

        @include mobile{
            display: none;
        }

        &.left{
            left:100px;
            transform: rotateY(180deg);
            justify-content: center;
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 550px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;
        justify-content: center;
        

        @include mobile{
            height: 75vh;
            flex-direction: column;
            justify-content: center;
            
        }


        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: 0;
            
            

            
            .item {
                width: 700px;
                height: 380px;
                background-color: rgb(37, 36, 36);
                border-radius: 10px 100px ;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                margin:0;
                border: solid 2px;
                border-color: antiquewhite;
                

                @include mobile{
                    width: 90%;
                    height: 160px;
                    margin: 10px 0;
                    
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(138, 198, 247);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                

                            @include mobile{
                                margin-left: 20px;
                                border: solid 3px;
                                border-color: black;
                                
                            }

                            img{
                                width: 25px;
                                
                            }
                        }
                            h2{
                                font-size: 20px;
                                color: rgb(247, 243, 243);

                                @include mobile{
                                    font-size: 13px;
                                    margin-left: 15px;
                                }
                            }
                            p{
                                font-size: 12px;
                                color: rgb(245, 241, 241);

                                @include mobile{
                                    font-size: 10px;
                                    margin-left: 20px;
                                }
                            }
                            span{
                                font-size: 12px;
                                color: rgb(250, 245, 245);
                                font-weight: 600;
                                text-decoration: underline;
                                cursor: pointer;

                                @include mobile{
                                    font-size: 10px;
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        width: 400px;
                        height: 400px;
                        transform: rotate(-10deg);
                    }
                    
                }
            }
        }
    }
}