@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;0,700;1,400;1,700&family=Exo:wght@700;800;900&family=Nunito:wght@300;400;500;600;700;800&family=Smooch+Sans:wght@100;300;500;600;700;800&display=swap');



.intro {


   
  background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    display: flex;
    position: relative;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5; 
        overflow: hidden;
        

        .imgContainer{
            width: 745px;
            height: 100vh;
            // clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
            // background-color: white;
            display: flex;
            align-items: flex-end;
            margin-left: -20px;
            //margin-top: -30px;
            margin-bottom: 0;
            
            
            

            @include mobile{
                display: flex;
                align-items: center;
                margin-left: 90px;
                align-items: flex-start;
                
                
                
            }
            
            // img{
            // width: 100%;
            // height: 100%;
            // }

            .vector {
                position: absolute;
                width: 55%;
                margin-left: -65px;
                margin-bottom: 5px;

                @include mobile{
                    position: absolute;
                    width: 120%;
                    align-items: center;
                    margin-left: 80px;
                    margin-top: -60px;
                    
                    

                }
            }

        

            .osman{
                z-index: 3;
                position: relative;
                width: 100%;
                margin-left: 20px;
                margin-bottom: 0px;

                @include mobile{
                    position: relative;
                    width: 160px;
                    height: 180px;
                    
                    box-shadow: 0px 0px 40px 30px black;
                    
                    
                    
                    border-radius: 180px;
                    align-items: center;
                    z-index: 2;
                    
                    margin-left: 250px;
                    margin-top: 100px;
                    
                    
                }

            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;
        display: block;

        
        

        .wrapper{
            width: 100%;
            height: 85%;
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h1{
                margin-left: -50px;
                font-family: 'Exo', sans-serif;
                font-size: 4em;
                font-weight: 700;
                color: #ffffff;
                text-shadow: 1px 1px 1px #111010,
                    1px 2px 1px #1d0f0f,
                    1px 3px 1px #160d0d,
                    1px 4px 1px #0c0707,
                    1px 5px 1px #110606,
                    1px 6px 1px #919191,
                    1px 7px 1px #919191,
                    1px 8px 1px #919191,
                    1px 9px 1px #919191,
                    1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);

                @include mobile{
                    font-size: 30px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }
            }

            .box{
                display: flex;
                margin-left: -210px;

                @include mobile{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -110px;
                    
                }

               

                .inner{
                    width: 400px;
                    height: 200px;
                    line-height: 200px;
                    font-size: 4em;
                    font-family: 'Exo', sans-serif;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;

                    @include mobile{
                        width: 300px;
                        height: 100px;
                        line-height: 100px;
                        
                    }

                    

                    

                   
    
                &:first-child {
                        background-color: #FF7700;
                        color: rgb(19, 19, 17);
                        transform-origin: right;
                        transform: perspective(100px) rotateY(-15deg);

                        
                    }
                    
                &:last-child {
                        background-color: #c24404;
                        color: rgb(237, 236, 241);
                        transform-origin: left;
                        transform: perspective(100px) rotateY(15deg);
                    }
                    
                span {
                        position: absolute;
                        animation: marquee 5s linear infinite;
                        font-family: 'Exo', sans-serif;
                    }
                    
                &:first-child span {
                        animation-delay: 2.5s;
                        left: -100%;
                    }
                    
                    @keyframes marquee {
                        from {
                            left: 100%;
                        }
                    
                        to {
                            left: -100%;
                        }
                    }
                }
            }
            
            h3{
                font-size: 30px;
                font-family: 'Exo', sans-serif;
                
                

                @include mobile{
                    font-size: 20px;
                    font-family: 'Exo', sans-serif;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                }

                span{
                    font-size: inherit;
                    font-family: 'Exo', sans-serif;
                    color: #fff;
                    text-shadow:
                        0 0 7px #FF7700,
                        0 0 10px #e06a02,
                        0 0 21px #c75e02,
                        0 0 42px #b13c02,
                        0 0 82px #913101,
                        0 0 92px #7c2b02,
                        0 0 102px #5e2001,
                        0 0 151px #4d1a01;
                                    }

                .ityped-cursor{
                        animation: blink 1s infinite;
                                    }

                        @keyframes blink {
                            50%{
                                opacity: 1;
                            }
                            100%{
                                opacity: 0;
                            }
                        }
                                }


                                ul{
                                    position: absolute;
                                    top: 70%; left: -230px;  width: 100%;   text-align: center;
                                    transform: translate(0,-50%);

                                    @include mobile{
                                        left: -60px;
                                    }
                                    

                                    li{
                                        display: inline-block;
                                        list-style: none;
                                        margin-right: -30px;
                                        // width: 250px;
                                        // height: 50px;
                                        @include mobile{
                                        
                                        }

                                        

                                        a{
                                            position: relative;
                                            display: inline-block;
                                            width: 40px;   height: 40px;   text-align: center;
                                            border-radius: 30%;
                                            background: #23222a;  color: rgb(218, 207, 207);
                                            text-decoration: none;
                                            font-size: 20px;
                                            box-shadow: inset 0 0 40px rgba(27, 26, 26, 0.2),0 30px 25px rgba(48, 48, 48, 0.3);
                                            border: 5px ridge  #FF7700;
                                            transition: .9s;
                                            margin: 10px;
                                            margin-right: 40px;
                                            overflow: hidden;
                                            padding: 10px;

                                            @include mobile{
                                                width: 18px; height: 18px; text-align: center;
                                                font-size: 10px;
                                                margin-right: 30px;
                                                
                                                

                                                border: 3px ridge  #FF7700;
                                            }
                                        }

                                        .social{
                                            line-height: 53px;
                                            margin-left: 0px;

                                            @include mobile{
                                                line-height: 10px;
                                                
                                                margin-left: 0px;
                                            
                                                
                                            }
                                        }

                                        &:hover a{
                                            box-shadow: inset 0 0 40px rgba(0,0,0,.2),0 5px 30px rgba(12, 12, 12, 0.5);
                                        }

                                        &:hover:nth-child(1) a{
                                            color: #e6402a;
                                        }

                                        &:hover:nth-child(2) a{
                                            color: #539cd3;
                                        }

                                        &:hover:nth-child(3) a{
                                            color: #464242;
                                        }

                                        &:hover:nth-child(4) a{
                                            color: #4e00b5;
                                        }

                                        &:hover:nth-child(5) a{
                                            color: #00AFF0;
                                        }

                                        &:hover:nth-child(6) a{
                                            color: #00f00c;
                                        }

                                        &:hover:nth-child(7) a{
                                            color: #9732e9;
                                        }

                                        &:hover:nth-child(8) a{
                                            color: #3f6e2c;
                                        }
                                    }
                                 }

                               

                               

                                .cv{
                                    margin-bottom: 70px;
                                    padding: 5px ;
                                    color: white;
                                    background-color: #0c0905;
                                    text-align: center;
                                    margin-left: -50px;
                                    font-family: 'Exo', sans-serif;
                                    font-size: 20px;
                                    border: 3px;
                                    border-color: #FF7700;
                                    border-style: ridge ;
                                    border-radius: 5px;
                                    text-decoration: none;

                                    @include mobile{
                                        margin-left: 50px;
                                        margin-bottom: 40px;
                                    }


                                }
        
                            }

                            

                           
        a{
            position:absolute;
            bottom: 10px;
            left: 30%;

            

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
                
                @include mobile{
                    margin-left: 110px;
                       
                }
               
            }

            

            

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        } 

       
    }
}

