@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Exo:wght@200;300&family=Fredoka:wght@300;400;500;600;700&display=swap');


.footer{
  
    background: rgb(130, 130, 134) ;


  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    

    
    display: flex;

    margin-top: 5px;
    justify-content: center;
    height: 200px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden  !important;
    

    a{
        color: rgb(132, 130, 127);
        justify-content: space-between;
        text-decoration: none;
        margin: 30px;
        font-size: larger;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        
        &:hover {
            font-weight: 400;
            font-family: 'Exo', sans-serif;
            background-color: black;
            opacity: 0.2;
            width: auto;
            height: 28px;
            text-align: center;
            border-radius: 5px;
            color: rgb(250, 250, 250);
            padding: 5px;
        }
        
        

    }

   

    p{
        position: absolute;
        margin-top: 180px;
        color: rgb(134, 132, 130);
        font-family: 'Exo', sans-serif;
    }
    

    
    
}

