@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Exo:wght@200;300&family=Fredoka:wght@300;400;500;600;700&display=swap');

.testimonials {
    background: rgb(130, 130, 134);
  background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
  background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
  background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    

    .dikeyNav{
        width: 120px;
        height: 92%;
        margin-bottom: -45px !important;
        margin-top: auto;
        margin: 20px;
        background-color: black;
        opacity: 0.2;
        border-radius: 10px;

        

        p{
            color: white;
            writing-mode: vertical-lr;
            text-orientation: upright;
            font-size: xx-large;
            font-family: 'Exo', sans-serif;
            margin-top: 165px;
            margin-left: auto;
            margin-right: auto;
            
        }
    }

    .container {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        @include mobile{
            flex-direction: row;
            
        }

        
        .card{
            width: 250px;
            height: 70%;
            border-radius: 10px;
            box-shadow: 0px 0px 20px -8px rgb(243, 117, 44);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            transition: all 1s ease;
            color: antiquewhite;
            background-color: rgb(48, 45, 45);

            @include mobile{
                height: 160px;
            }

            
            

            &.featured{
                width: 300px;
                height: 75%;
                margin: 0 30px;

                @include mobile{
                    width: 250px;
                    height: 160px;
                }
            }

            &:hover{
                transform: scale(1.1);
            }

            .top{
                display: flex;
                align-items: center;
                justify-content: center;
                

                img{
                    &.left{
                        width: 50px;
                        height: 50px;
                        transform: rotate(90deg);

                    }
                    &.right{
                        width: 40px;
                        height: 40px;
                       
                        
                    }
                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;
                        
                    }
                }
            }
            .center{
                padding: 10px;
                background-color: rgb(192, 82, 38);
                border-radius: 10px;
            }

            .bottom{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3{

                }
            }
        }
    }
}