@import "../src/global.scss";
.app {
    height: 100vh;
    z-index: 1;

    .sections {
        width: 100%;
        height:100vh;//calc(100vh - 70px);
        // background-color: lightgoldenrodyellow;
        position: relative;
         // top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
        > *{
            width: 100vw;
            height: 100vh;//calc(100vh - 70px);
            scroll-snap-align: start;
            }
        
    }

    .footer{
        height: 100vh;
    }
}

ul#socialIcons{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    
    top: 65%; left: -10px;  width: 100%;   text-align: center;
    transform: translate(0,-50%);

    @include mobile{
        
        
    }

    .itemContainer {
        display: flex;
        align-items: center;
        margin-right: 40px;
        margin-left: 10px;
        margin-bottom: 20px;
        
        color: #999393;
        margin-top: -10px;
        

        

        .icon {
            font-size: 18px;
            margin-right: 5px;
        }

        span {
            font-size: 15px;
            font-weight: 500;
            margin: 3px;
            
        }

        
    }
    

    li{
        display: flex;
        flex-direction: column;
        position: relative;
        list-style: none;
        margin-bottom: 30px;

        @include mobile{
            flex-direction: column;
        }
        
       
        // width: 250px;
        // height: 50px;

        a{
            position: relative;
            display: inline-block;
            width: 30px;   height: 30px;   text-align: center;
            border-radius: 30%;
            background: rgba(92, 93, 92, 0);  color: rgb(136, 126, 126);
            text-decoration: none;
            font-size: 12px;
            box-shadow: inset 0 0 40px rgba(65, 63, 63, 0.2),0 30px 25px rgba(63, 63, 63, 0.3);
            border: 3px ridge #747171;
            transition: .9s;
            margin: 10px;
            margin-right: 40px;
            overflow: hidden;
            padding: 5px;

            @include mobile{
                width: 20px; height: 20px; text-align: center;
                margin: 5px 10px 5px 10px;
                font-size: 10px;
            }

            
        }

        .social{
            line-height: 40px;
            margin-left: 1px;

            @include mobile{
                line-height: 20px;
                margin-left: 0px;
            }
        }

        &:hover a{
            box-shadow: inset 0 0 40px rgba(82, 80, 80, 0),0 5px 30px rgba(90, 88, 88, 0);
            opacity: 1;
        }

        

        &:hover:nth-child(2) a{
            color: #d32215;
        }

        &:hover:nth-child(3) a{
            color: #2876be;
        }

        &:hover:nth-child(4) a{
            color: #0d0911;
        }

        &:hover:nth-child(5) a{
            color: #5c00f0;
        }

        &:hover:nth-child(6) a{
            color: #37a9eb;
        }
        &:hover:nth-child(7) a{
            color: #2ae63a;
        }

    
    }
 }

