@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Fredoka:wght@300;400;500;600;700&display=swap');

.skills{
    background: rgb(130, 130, 134) ;
    background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
    background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .dikeyNav{
        width: 120px;
        height: 91%;
        margin-bottom: -45px !important;
        margin-top: auto;
        margin: 20px;
        background-color: black;
        opacity: 0.2;
        border-radius: 10px;
        border: 3px ridge  white;

        @include mobile{
            width: 40px;
            height: 80%;
            margin-top: -15px;
            
        }

        

        p{
            color: white;
            writing-mode: vertical-lr;
            text-orientation: upright;
            font-size: xx-large;
            font-family: 'Exo', sans-serif;
            margin-top: 55px;
            margin-left: auto;
            margin-right: auto;

            @include mobile{
                font-size:x-large;
                margin-top: 75px;
            }
            
        }
    }

    .second{
        
        padding-left: 450px;
        padding-top: 150px;
        
        width: 75%;
        height: 100%;
        align-items: center;
        justify-self: center;

        @include mobile{
            padding-left: 0;
            padding-top: 150px;
        }
        
        

        .education{
            width: 800px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mobile{
                width: 300px;
                height: 50%;
                text-align: center;
                
            }
            
            
            h3{
                color: antiquewhite;
                margin-left: 10px;
                font-family: 'Exo', sans-serif;
                overflow: hidden;
                font-weight: 100;
                text-align: start;

                @include mobile{
                    text-align: center;
                    font-size: 15px;
                    
                }
    
            }
    
            p{
                color: #FF7700;
                font-family: 'Exo', sans-serif;
                margin-left: 10px;
                margin-bottom: 10px;
                overflow: hidden;

                @include mobile{
                    text-align: center;
                    margin-left: 0;
                    font-size: 13px;
                }
            }
        }
    
        .skill{
            display: block;
            position: relative;
            height: 20px;
            width: 800px;
            border-radius: 55px;
            border: 3px ridge rgb(248, 243, 243);
            overflow: hidden;
            margin: 10px;
            margin-bottom: -5px;
            text-align: center;

            @include mobile{
                width: 260px;
                height: 15px;
                font-size: 10px;
                text-align: center;
                
                
            }
            
            
    
            .html{
                position: relative;
                height: 20px;
                width: 700px;
                border-radius: 50px;
                overflow: hidden;
                color: rgb(0, 0, 0);
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 220px;
                    height: 15px;
                }
            }
            
            .css{
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                color: rgb(0, 0, 0);
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 150px;
                    height: 15px;
                }
            }
    
            .bootstrap{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 300px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                
                @include mobile{
                    width: 100px;
                    height: 15px;
                }
            }
    
            .javascript{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 350px;
                border-radius: 50px;
                overflow: hidden;
                background-color:#FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
               
                @include mobile{
                    width: 120px;
                    height: 15px;
                }
            }
    
            .react{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                
                @include mobile{
                    width: 140px;
                    height: 15px;
                }
            }
            
            .react-native{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 300px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .nodeJs{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 200px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .mongoDB{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 100px;
                    height: 15px;
                }
            }
    
            .sass{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 450px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 160px;
                    height: 15px;
                }
            }
    
            .firebase{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 600px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 150px;
                    height: 15px;
                }
            }
    
            .gitHub{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 600px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;

                @include mobile{
                    width: 180px;
                    height: 15px;
                }
            }
        }
    }

    
    
}


