@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Arimo:ital,wght@1,500&family=Fredoka:wght@300;400;500;600;700&display=swap');

.skills{
    background: rgb(130, 130, 134) ;
    background: -moz-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(130, 130, 134)), color-stop(51%, rgb(55, 54, 59)), color-stop(100%,  rgb(11, 11, 12)));
    background: -webkit-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: -o-linear-gradient(-45deg,rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: -ms-linear-gradient(-45deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%,  rgb(11, 11, 12) 100%);
    background: linear-gradient(135deg, rgb(130, 130, 134) 0%, rgb(55, 54, 59) 51%, rgb(11, 11, 12) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebc9b', endColorstr='#2a1f19', GradientType=1 );
    
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .dikeyNav{
        width: 120px;
        height: 92%;
        margin-bottom: -45px !important;
        margin-top: auto;
        margin: 20px;
        background-color: black;
        opacity: 0.2;
        border-radius: 10px;

        

        p{
            color: white;
            writing-mode: vertical-lr;
            text-orientation: upright;
            font-size: xx-large;
            font-family: 'Exo', sans-serif;
            margin-top: 55px;
            margin-left: auto;
            margin-right: auto;
            
        }
    }

    .second{
        
        padding-left: 450px;
        padding-top: 150px;
        
        width: 75%;
        height: 100%;
        align-items: center;
        justify-self: center;
        
        

        .education{
            width: 800px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            h3{
                color: antiquewhite;
                margin-left: 10px;
                font-family: 'Exo', sans-serif;
                overflow: hidden;
                font-weight: 100;
    
            }
    
            p{
                color: #FF7700;
                font-family: 'Exo', sans-serif;
                margin-left: 10px;
                margin-bottom: 10px;
                overflow: hidden;
            }
        }
    
        .skill{
            display: block;
            position: relative;
            height: 20px;
            width: 800px;
            border-radius: 55px;
            border: 2px solid rgb(248, 243, 243);
            overflow: hidden;
            margin: 10px;
            margin-bottom: -5px;
            text-align: center;
            
            
    
            .html{
                position: relative;
                height: 20px;
                width: 700px;
                border-radius: 50px;
                overflow: hidden;
                color: rgb(0, 0, 0);
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
            
            .css{
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                color: rgb(0, 0, 0);
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .bootstrap{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 300px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .javascript{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 350px;
                border-radius: 50px;
                overflow: hidden;
                background-color:#FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .react{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
            
            .react-native{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 300px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .nodeJs{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 200px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .mongoDB{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 400px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .sass{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 450px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .firebase{
                color:rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 600px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
    
            .gitHub{
                color: rgb(0, 0, 0);
                position: relative;
                height: 20px;
                width: 600px;
                border-radius: 50px;
                overflow: hidden;
                background-color: #FF7700;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
            }
        }
    }

    
    
}


